h1 {
    display: inline-block;
    font-size: 1em;
    color: rgb(179, 22, 111);
    text-transform: uppercase;
    margin: 50px 0 0 0.5em;
}

h5 {
    margin: .5em 0 0;
    color: #696969;
}

.field {
    flex: 80%;
}

.field form {
    width: 75%;
    padding: 0.5em;
}

.field textarea {
    width: 100%;
    margin: 0 0 0.5em;
}
.field span{
    float: left;
    color: rgb(179,22,111);
    font-size: .9em;
}

.posts {
    margin-left: 20px;
}
.error{
    border: 1px solid rgb(179,22,111);
}
