.info {
    display: flex;
    margin-top: 0;
    column-gap: 1em;
}

/*.view img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.info img {
    width: 100%;
    height: auto;
}

.photo {
    flex: 1;
}

.photoInfo {
    flex: 3;
}

h3 {
    font-size: 1.6em;
    margin-top: 5px;
    color: rgba(41, 41, 41,.9);
    margin-bottom: 0;
}
/************************************userInfo**************************************************/
.userInfo{
    display: inline-block;
    width: 20%;
    font-weight: bold;
}

.user{
    display: flex;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.userQuestion{
    flex: 1;
}

.userQuestion li, .contactQuestion li{
    font-size: 1em;
    color: rgba(41, 41, 41,.9);
    margin: 0;
}

.userAnswer{
    flex: 3;
}

.userAnswer li, .contactAnswer li{
    font-size: .9em;
    color: #696969;
    margin: 0;
}
.me {
    font-size: .9em;
    color: rgb(26,111,182);
}
/************************************userContact**************************************************/
.contacts{
    display: flex;
}

.contactQuestion{
    flex: 1;
}
.contactAnswer{
    flex: 3;
}

