.info {
    display: flex;
    margin-top: 0;
    column-gap: 1em;
    position: relative;
}


.info img {
    width: 300px;
    height: 300px;
    display: flex;
    vertical-align: middle;
    object-fit: contain;
    order: 0;
    flex-grow: 0;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    margin-bottom: 10px;
}

.info .photo {
    flex: 1;
}

.info .photo label{
    font-size: .9em;
    color: #78be21;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: underline;
}

.info .photoInfo {
    flex: 3;
}

.info h3 {
    font-size: 1.6em;
    margin-top: 5px;
    color: rgba(41, 41, 41,.9);
    margin-bottom: 0;
}
/************************************userInfo**************************************************/
.info .user {
    display: flex;
    flex-direction: column;
}

.info .user button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: .9em;
    font-weight: 500;
    text-align: right;
    padding: 0;
    margin: 0 5px 0 0;
}

.info .user button:hover{
    color: #78be21;
    background: white;
}

.info .user h5 {
    font-size: .9em;
    color: rgb(26,111,182);
    margin-top: 1em;
}

.info .user div{
    font-size: 1em;
    color: rgba(41, 41, 41,.9);
    margin: 0;
}

/*.info .user div span{*/
/*    font-weight: 600;*/
/*    color: rgba(41, 41, 41, .7);*/
/*}*/



