
.header {
    grid-area: header;
    background-color: rgba(41, 41, 41,.7);
}

.header img {
    width: 45px;
    height: auto;
    float: right;
    margin-top: 6px;
    margin-right: 10px;

}
.headerBorder{
    display: flex;
    height: .4rem;
    z-index: 99;
}
.color1{
    flex:1;
    background: rgb(26,111,182);
}
.color2{
    flex:1;
    background: rgb(179,22,111);
}
.color3{
    flex:1;
    background: #78be21;
}
/****************************login******************************************/
.loginBlock {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    text-align: right;
}
