.post {
    display: flex;
    width: 80%;
    gap: 10px;
    flex-direction: row;
}

.post p {
    font-size: 1em;
    color: #000;
    font-weight: normal;
    padding: 5px;
    margin: 0;
}

.post img {
    vertical-align: middle;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
