.login {
    text-align: center;
}

.loginForm, .enter {
    max-width: 700px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}

.loginForm div {
    display: flex;
    flex-flow: row nowrap;
    line-height: 2em;
    margin: 5px;
}

.loginForm label {
    color: #333;
    width: 110px;
    font-size: 1em;
    line-height: 32px;
}

.loginForm div input {
    flex: 1;
    width: inherit;
    height: inherit;
    padding: 3px 5px;
    font-size: 1em;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.loginForm input[type='checkbox'] {
    flex: none;
    margin-top: 7px;
    margin-left: 125px;
}

.checkbox label {
    font-size: .9em;
    margin-top: 3px;
}

.loginForm span {
    line-height: 32px;
    margin-left: 10px;
    font-weight: normal;
    color: rgb(179, 22, 111);
    font-size: .9em;
}

.loginForm button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 15px auto;
}

.loginForm .error {
    display: flex;
    line-height: 32px;
    font-size: 1em;
    color: rgb(179, 22, 111);
    flex-flow: row nowrap;
    justify-content: center;
}

.enter {
    display: flex;
    flex-flow: column;
}

.enter p {
    margin: 0;
}

.enter span {
    font-weight: bold;
}

.loginForm .captcha {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    width: 150px;
    height: 100px;
}

.loginForm .captcha img {
    margin: 0 auto;
    width: 130px;
    height: 50px;
}

.loginForm .captcha input {
    height: 20px;
    width: 100px;
    padding: 1px;
    margin: 0 auto;
    flex: none;
    font-size: .9em;
}
